In [1]:
from jugaad_data.nse import stock_df

In [2]:
from jugaad_data.nse import stock_df

In [4]:
from datetime import date

In [8]:
df = stock_df(symbol="NIFTY", from_date=date(2020,1,1),
            to_date=date(2020,1,30))

KeyError: "None of [Index(['CH_TIMESTAMP', 'CH_SERIES', 'CH_OPENING_PRICE', 'CH_TRADE_HIGH_PRICE',\n       'CH_TRADE_LOW_PRICE', 'CH_PREVIOUS_CLS_PRICE', 'CH_LAST_TRADED_PRICE',\n       'CH_CLOSING_PRICE', 'VWAP', 'CH_52WEEK_HIGH_PRICE',\n       'CH_52WEEK_LOW_PRICE', 'CH_TOT_TRADED_QTY', 'CH_TOT_TRADED_VAL',\n       'CH_TOTAL_TRADES', 'CH_SYMBOL'],\n      dtype='object')] are in the [columns]"

In [9]:
from NSEDownload import stocks
from NSEDownload import indices

In [10]:
df = indices.get_data(index_name="NIFTY 100", start_date="09-01-2015", end_date="29-03-2016")

Exception in thread Thread-5 (process_window):
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/NSEDownload/scraper.py", line 19, in process_window
    response = make_get_request(url)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/NSEDownload/scraper.py", line 40, in make_get_request
    response = session.get(url, timeout=10, headers=get_headers())
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 600, in get
    return self.request("GET", url, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 587, in request
    resp = self.send(prep, **send_kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 723, in send
    history = [resp for resp in gen]
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 723, in <listcomp>
    history = [resp for resp in gen]
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 191, in resolve_redirects
    raise TooManyRedirects(
requests.exceptions.TooManyRedirects: Exceeded 30 redirects.
Exception in thread Thread-6 (process_window):
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/NSEDownload/scraper.py", line 19, in process_window
    response = make_get_request(url)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/NSEDownload/scraper.py", line 40, in make_get_request
    response = session.get(url, timeout=10, headers=get_headers())
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 600, in get
    return self.request("GET", url, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 587, in request
    resp = self.send(prep, **send_kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 723, in send
    history = [resp for resp in gen]
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 723, in <listcomp>
    history = [resp for resp in gen]
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/requests/sessions.py", line 191, in resolve_redirects
    raise TooManyRedirects(
requests.exceptions.TooManyRedirects: Exceeded 30 redirects.

In [11]:
import pandas as pd

In [12]:
pd.read_csv('NIFTY50.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0.0
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0.0
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0.0
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0.0
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0.0
...,...,...,...,...,...,...,...
3841,2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700.0
3842,2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800.0
3843,2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300.0
3844,2023-04-12,17759.550781,17825.750000,17717.250000,17812.400391,17812.400391,232800.0
3845,2023-04-13,17807.300781,17842.150391,17729.650391,17828.000000,17828.000000,285800.0

In [18]:
import yfinance as yf
data = yf.download("^NSEI", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [19]:
len(data)

3257

In [20]:
data.to_csv('NIFTY_50.csv')

In [21]:
data = yf.download("^CNX100", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [22]:
data.to_csv('NIFTY_100.csv')

In [23]:
data = yf.download("AXISGOLD.NS", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [24]:
data.to_csv('GOLD_ETF.csv')

In [25]:
data = yf.download("^GSPC", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [26]:
data.to_csv('SNP_500.csv')

In [27]:
data = yf.download("^NDX", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [28]:
data.to_csv('NASDAQ_100.csv')

In [29]:
data = yf.download("CONCOR.NS", start="2010-01-01", end="2023-04-13")

[*********************100%***********************]  1 of 1 completed

In [30]:
data.to_csv('CONCOR.csv')