In [1]:
from NSEDownload import stocks

In [32]:
df = stocks.get_data(symbol="CONCOR", start_date="01-01-2015", end_date="29-03-2023")

In [4]:
from datetime import date
from pyxirr import xirr
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()

In [34]:
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)

In [35]:
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [36]:
xirr(df.Date, df.inflow)

0.017278877087342714

In [14]:
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [16]:
df = stocks.get_data(symbol="NMDC", start_date="01-01-2015", end_date="29-03-2023")

In [17]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [18]:
xirr(df.Date, df.inflow)

0.2161608232272292

In [19]:
df = stocks.get_data(symbol="SAIL", start_date="01-01-2015", end_date="29-03-2023")

In [20]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [21]:
xirr(df.Date, df.inflow)

0.17508458331487575

In [22]:
df = stocks.get_data(symbol="ONGC", start_date="01-01-2015", end_date="29-03-2023")

In [23]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [24]:
xirr(df.Date, df.inflow)

0.0025358896447266036

In [25]:
df[df.qty_traded!=0]

,Date,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,...,% Dly Qt to Traded Qty,,Close,prevClose,moving_avg_30,qty_traded,trading_price,total_qty,inflow,mktval
36,2015-02-24,ONGC,EQ,324.85,326.10,326.80,312.65,314.90,315.05,316.18,...,62.85,,315.05,324.85,347.291667,1,-315.05,1,-315.05,315.05
37,2015-02-25,ONGC,EQ,315.05,317.80,323.35,315.15,317.90,317.15,319.38,...,56.64,,317.15,315.05,346.093333,1,-317.15,2,-317.15,634.30
38,2015-02-26,ONGC,EQ,317.15,320.00,322.20,315.55,321.00,319.35,318.48,...,62.27,,319.35,317.15,345.075000,1,-319.35,3,-319.35,958.05
39,2015-02-27,ONGC,EQ,319.35,319.00,326.00,319.00,324.30,324.75,323.75,...,58.72,,324.75,319.35,344.388333,1,-324.75,4,-324.75,1299.00
42,2015-03-03,ONGC,EQ,320.05,320.05,326.00,317.00,321.35,320.50,321.45,...,65.36,,320.50,320.05,342.125000,1,-320.50,5,-320.50,1602.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,2022-09-28,ONGC,EQ,124.45,123.95,123.95,121.50,122.65,122.55,122.23,...,47.80,,122.55,124.45,133.171667,1,-122.55,120,-122.55,14706.00
1918,2022-09-29,ONGC,EQ,122.55,123.50,128.20,123.50,126.80,126.65,126.17,...,40.05,,126.65,122.55,132.591667,1,-126.65,121,-126.65,15324.65
1949,2022-11-16,ONGC,EQ,142.35,142.80,143.30,141.20,142.95,142.90,142.47,...,46.48,,142.90,142.35,133.548333,-1,142.90,120,142.90,17148.00
1950,2022-11-17,ONGC,EQ,142.90,141.95,143.80,141.70,143.30,143.20,143.19,...,50.16,,143.20,142.90,134.085000,-1,143.20,119,143.20,17040.80
1951,2022-11-18,ONGC,EQ,143.20,143.15,143.25,140.20,142.05,141.75,141.52,...,59.70,,141.75,143.20,134.445000,-1,141.75,118,141.75,16726.50

In [26]:
df = stocks.get_data(symbol="GAIL", start_date="01-01-2015", end_date="29-03-2023")

In [27]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [28]:
xirr(df.Date, df.inflow)

0.011739059191739499

In [29]:
df = stocks.get_data(symbol="UNIONBANK", start_date="01-01-2015", end_date="29-03-2023")

In [30]:
df = df.reset_index()
df['Close'] = df['Close Price']

df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[2036, 'inflow'] = df.at[2035, 'mktval']

In [31]:
xirr(df.Date, df.inflow)

-0.03180914870929267

In [40]:
df = stocks.get_data(symbol="PIDILITIND", start_date="01-01-2015", end_date="29-03-2023")
df = df.reset_index()
df['Close'] = df['Close Price']
df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
#df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[len(df)-1, 'inflow'] = df.at[len(df)-2, 'mktval']
xirr(df.Date, df.inflow)

0.1990349425028609

In [44]:
df = stocks.get_data(symbol="NESTLEIND", start_date="01-01-2015", end_date="29-03-2023")
df = df.reset_index()
df['Close'] = df['Close Price']
df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
#df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[len(df)-1, 'inflow'] = df.at[len(df)-2, 'mktval']
xirr(df.Date, df.inflow)

0.16404549625108245

In [46]:
df = stocks.get_data(symbol="MARICO", start_date="01-01-2015", end_date="29-03-2023")
df = df.reset_index()
df['Close'] = df['Close Price']
df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
#df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[len(df)-1, 'inflow'] = df.at[len(df)-2, 'mktval']
xirr(df.Date, df.inflow)

0.1068458421212108

In [47]:
df = stocks.get_data(symbol="APLAPOLLO", start_date="01-01-2015", end_date="29-03-2023")
df = df.reset_index()
df['Close'] = df['Close Price']
df['prevClose'] = df.Close.shift(1)
df['moving_avg_30'] = df.prevClose.rolling(window=30).mean()
df['qty_traded'] = df.apply(lambda row: 1 if (row.moving_avg_30 - row.prevClose)/row.prevClose > 0.06 else 0 , axis=1)
#df['qty_traded'] =df.apply(lambda row: -1 if (row.prevClose -row.moving_avg_30)/row.prevClose > 0.06 else row.qty_traded , axis=1)
df['trading_price'] = df.qty_traded * -1.0 * df.Close
df['total_qty'] = df['qty_traded'].cumsum()
df['inflow'] = df['trading_price']
df['mktval'] = df['total_qty'] * df['Close']
df.at[len(df)-1, 'inflow'] = df.at[len(df)-2, 'mktval']
xirr(df.Date, df.inflow)

0.012519524473705024

In [48]:
df.head()

,Date,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,...,% Dly Qt to Traded Qty,,Close,prevClose,moving_avg_30,qty_traded,trading_price,total_qty,inflow,mktval
0,2015-01-01,APLAPOLLO,EQ,341.60,344.00,349.00,325.05,341.90,336.45,339.97,...,96.62,,336.45,NaN,NaN,0,-0.0,0,-0.0,0.0
1,2015-01-02,APLAPOLLO,EQ,336.45,334.00,346.00,334.00,336.00,338.65,341.78,...,82.81,,338.65,336.45,NaN,0,-0.0,0,-0.0,0.0
2,2015-01-05,APLAPOLLO,EQ,338.65,337.05,338.80,325.30,329.25,329.25,334.87,...,69.81,,329.25,338.65,NaN,0,-0.0,0,-0.0,0.0
3,2015-01-06,APLAPOLLO,EQ,329.25,327.00,332.05,325.00,332.00,328.05,329.47,...,92.14,,328.05,329.25,NaN,0,-0.0,0,-0.0,0.0
4,2015-01-07,APLAPOLLO,EQ,328.05,327.05,339.70,325.20,325.30,327.90,329.90,...,37.78,,327.90,328.05,NaN,0,-0.0,0,-0.0,0.0